#top {
    background-color: #d1e0e0;
}

.col-12 #title {
    margin-top: 30px;
    border-bottom: solid black 1px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#nav {
    background-color: #85adad;
}

#buttons-view {
    padding: 5px;
}

.topic {
    padding: 10px;
    margin: 5px;
}

#search {
    margin: 10px;
    margin-top: 10px;
    margin-left: 150px;
    float: left;
}

#add-topic {
    padding: 10px;
    margin: 5px;
}

.gifImage {
    float: left;
    display: inline;
    margin: 10px;
    border: solid black 1px;
    padding: 10px;
}
.gifImage p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 10px;
}
